<script type="text/javascript" src="#springUrl("/static/js/jquery.upload-1.0.2.js")"></script>
<script type='text/javascript' src="#springUrl('/static/js/google-jsapi.js')"></script>
<script type='text/javascript' src="#springUrl('/static/js/google-visualization-corechart.I.js')"></script>
<script src="#springUrl('/static/js/my97DatePicker/WdatePicker.js')" type="text/javascript"></script>

<script type="text/javascript">
    //基础图层
    var basicLayers=[];
    $(document).ready(function () {

         showProgress() ;

        initializeMap();
        #foreach($layer in $basicLayers)
           var layer = createTileLayer("$baseMapUrl",{"layers":"$layer.name"});
           map.overlayMapTypes.insertAt($velocityCount,layer);
          basicLayers[$velocityCount]=layer;
        #end

        $("#basic_layers_tab  input").click(function () {

            var index = $(this).parent().index();
            basicLayers[index].setOpacity($(this).attr("checked")?1:0);

        });
        $("#play_btn").click(function(){
            $("#play_btn").toggleClass("icon-play").toggleClass("icon-pause");

            playData();
        }) ;
        $("#stop_btn").click(function(){
            $("#play_btn").removeClass("icon-pause").addClass("icon-play") ;
            $( "#player_bar").slider("value",$( "#player_bar").slider( "option", "min" ));
        }) ;
        $( "#player_bar" ).slider({  change: function( event, ui ) {
            drawEcom($( "#player_bar").slider("value"));
        }});

    });
  function playData(){
      if($( "#player_bar").slider("value")<$( "#player_bar").slider("option", "max" ) && $("#play_btn").hasClass("icon-pause")) {

          $( "#player_bar").slider("value",$( "#player_bar").slider("value")+$( "#player_bar").slider( "option", "step" ));
          setTimeout("playData()",3000) ;
      }else{

      }
    }

    function drawNodeLine(nodeIndex,varName){

        jQuery.ajax({
            type:"get",
            url:"#springUrl("/swmm/renderNode")",
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            data:{nodeIndex:nodeIndex},
            success:function (data) {

                console.log("commit response " + JSON.stringify(data));
                if (data) {

                    var dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('number', 'time');
                    dataTable.addColumn('number', '难度');
                    dataTable.addColumn({type:'string', role:'annotation'});
                    var lineData = [];

                    for (var i = 0; i < data.length; i++) {
                        lineData.push([i, data[i],""]);
                    }
                    var options = {
                        title:'浓度',
                        hAxis:{title:'天'}     ,
                        axisTitlesPosition:'in'


                    };

                    var chart = new google.visualization.LineChart(document.getElementById('node_line_div'));
                    if (lineData.length > 0) {
                        dataTable.addRows(lineData);
                        chart.draw(dataTable, options);
                    }
                }

            }
        });
    }
    var ecomLayer;
    function drawEcom(timeIndex){
         if(ecomLayer)
               ecomLayer.setMap(null);
          ecomLayer =  createWMSLayer("/wms/ecom/renderTime",{"timeIndex":0,"layers":"模型网格"});
         map.overlayMapTypes.insertAt(0,ecomLayer);
    }

    var   heatmapLayer;
    function drawFlow(timeIndex){
        jQuery.ajax({
            type:"get",
            url:"#springUrl("/swmm/renderTime")",
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            data:{timeIndex:timeIndex},
            success:function (data) {

                console.log("commit response " + JSON.stringify(data));
                if (data) {
                    var heatmapData=[];
                    $("#node_select").empty();
                    jQuery.each(data,function(i,point){
                        $("#node_select").append("<option>"+point.name+"</option>");
                        heatmapData.push({location: new google.maps.LatLng(point.lat,point.lng), weight: point.value1});
                    });
                    if(heatmapLayer)
                        heatmapLayer.setMap(null);
                    heatmapLayer = new google.maps.visualization.HeatmapLayer({data: heatmapData, radius: 10});
                    heatmapLayer.setMap(map);
                }
                $("#node_select").change(function(){
                    drawNodeLine($(this).index(),"");
                });
            }
        });

    }
    function showProgress() {

        jQuery.ajax({
            type:"get",
            url:"#springUrl("/job/$job.id")",
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success:function (job) {

                console.log("commit response " + JSON.stringify(job));
                if (!job || job.over) {
                  $("#job_progress_bar").hide();
                } else {
                   $("#job_progress_bar").show();
                  setTimeout("showProgress()",3000) ;
                }

            }
        });
    }
</script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span6">
            <div >
              <div class="row-fluid">
                    <div class="span2"style="padding-right: 0">
                        <a class="btn btn-mini" href="#"><i id="play_btn" class="icon-play"></i></a>
                        <a class="btn btn-mini" href="#"><i  id="stop_btn" class="icon-stop"></i></a></div>

                  <div class="span10" style="margin-top: 6px;" ><div id="player_bar"></div></div>
                </div>
            </div>

            </div>

        <div class="  span2">
            #if(!$job.isOver())
            <div id="job_progress_bar">

                <div class="progress progress-striped active" style="margin-bottom: 0">
                    <div class="bar" style="width: 100%;"></div>
                </div>

            </div>
            #end
        </div>
    </div>
    <div class="row-fluid">

        <div class="  span3">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#basic_layers_tab" data-toggle="tab">基础信息</a></li>
                    <li><a href="#flow_tab" data-toggle="tab">水量</a></li>
                    <li><a href="#ecom_tab" data-toggle="tab">水动力</a></li>
                    <li><a href="#tab3" data-toggle="tab">水质</a></li>
                </ul>
                <div class="tab-content">
                    <div id="basic_layers_tab" class="tab-pane active" >
                        #foreach($layer in $basicLayers)
                        <label class="checkbox">
                            <input type="checkbox"  checked="checked">$layer.name
                        </label>
                        #end

                    </div>
                    <div class="tab-pane" id="flow_tab">
                        <label class="control-label" for="node_select">节点:
                         <select id="node_select" name="node">

                         </select>
                        </label>
                        <label class="control-label">变量:
                            <label class="radio"> <input type="radio" class="checkbox" name="nodeVar">INFLOW  </label>
                            <label class="radio"><input type="radio" name="nodeVar">Sanitary </label>
                            <label class="radio"><input type="radio" name="nodeVar">Storm</label>
                        </label>
                        <div id="node_line_div"></div>
                    </div>

                    <div class="tab-pane" id="ecom_tab">

                        <button id='play_ecom'>播放</button>
                    </div>

                    <div class="tab-pane" id="tab3">

                        <fieldset title="水质变量" class="box">

                            <input type="radio" name="waterVar">O<br/>
                            <input type="radio" name="waterVar">N<br/>
                            <input type="radio" name="waterVar">细菌<br/>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
        <div class="span9">
##            <div id="play_control" style="cursor: pointer; text-align: center; display: inline;" title="play2">
##                <img src="/wms/static/images/play_start.png" style="padding-top: 1mm; z-index: 2; "
##                     id="play_start_btn" title="play">
##
##                <div style="z-index: 3;display: inline;">
##                    <img src="/wms/static/images/time_point.png" id="play_time_pointer">
##                    <img src="/wms/static/images/time_bar.png" id="play_bar">
##                </div>
##                <div id="play_info_bord"></div>
##            </div>
            <div id="map_canvas">

            </div>
        </div>
    </div>
</div>
