<script type="text/javascript" src="#springUrl("/static/js/jquery.jqGrid.js")"></script>
<script type="text/javascript" src="#springUrl("/static/js/jquery.upload-1.0.2.js")"></script>
<script type='text/javascript' src="#springUrl('/static/js/google-jsapi.js')"></script>
<script type='text/javascript' src="#springUrl('/static/js/google-visualization-corechart.I.js')"></script>
<script type='text/javascript' src="#springUrl('/static/js/google-visualization-table.I.js')"></script>
<script src="#springUrl('/static/js/my97DatePicker/WdatePicker.js')" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
//        $("#panelarrow2").click(function(){
//
//            $("#content").toggleClass('nosidebar');
//        });


        $("#swmm_dialog").dialog({
            autoOpen:true,
            title:"<span id='swmm_span'>SWMM</span>><span  id='ecom_span'>ECOM</span>><span  id='rca_span'>RCA</span>",
            height:500,
            width:700

        });
        $("#swmm_run_btn").button().click(function () {

        });

        $("#swmm_dialog_btn").button().click(function () {
            $("#swmm_dialog").dialog("open");
        });
        $("#swmm_data_upload_btn").button().click(function () {
            $("#swmm_dialog").dialog("open");
        });
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'serial');
        dataTable.addColumn('string', 'Date');
        dataTable.addColumn('string', 'time');
        dataTable.addColumn('string', 'value');

        var chart = new google.visualization.Table(document.getElementById("rainDataTable"));
        chart.draw(dataTable, {showRowNumber:false});

        $('#swmm_data_upload_btn').change(function () {
            $(this).upload("#springUrl("/swmm/data/upload?format=json")", function (res) {
                var _data = res.data;
                chart.clearChart();
                dataTable.removeRows(0, dataTable.getNumberOfRows());
                for (var i = 0; i <= _data.length; i++) {

                    if (jQuery.isArray(_data[i]) && _data[i].length == 4)
                        dataTable.addRow([  _data[i][0], _data[i][1]  , _data[i][2], _data[i][3]]);
                }
                chart.draw(dataTable, {showRowNumber:false});
            }, 'json');
        });

    });

</script>
<div id="swmm_dialog">
    <label>降水数据 </label>
    <input type="file" name="file" id="swmm_data_upload_btn" title="上传"> <br/>
    <label>开始时间
        <input name="startTime"
               onClick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false})">
    </label>
    <label>结束时间
        <input name="endTime"
               onClick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false})">
    </label>
    <button id="swmm_run_btn" type="button">下一步</button>

    <div id="rainDataTable"></div>

</div>
<table id="main-table" height="70%"
       style="background-image: url(#spring("/static/images/hudson.png"));                background-repeat: no-repeat; background-position: bottom left;"
       width="100%" border="0">
    <tbody>
    <tr>
        <td id="side-panel" width="20%">
            <div style="margin-left: 20px; margin-right: 20px; border-top: 1px solid #bbb"></div>
            <div id="navigation">
                <div id="tasks">
                    <div class="task"><a href="/hudson/view/All/newJob"><img height="24" style="margin: 2px;" alt=""
                                                                             width="24"
                                                                             src="/hudson/static/2e8191e3/images/24x24/new-package.gif"></a>&nbsp;<a
                            href="/hudson/view/All/newJob">新建任务</a></div>
                    <div class="task"><a href="/hudson/manage"><img height="24" style="margin: 2px;" alt="" width="24"
                                                                    src="/hudson/static/2e8191e3/static/images/24x24/setting.gif"></a>&nbsp;<a
                            href="/hudson/manage">系统管理</a></div>
                    <div class="task"><a href="/hudson/people/"><img height="24" style="margin: 2px;" alt="" width="24"
                                                                     src="/hudson/static/2e8191e3/static/images/24x24/user.gif"></a>&nbsp;<a
                            href="/hudson/people/">用户</a></div>
                    <div class="task"><a href="/hudson/builds"><img height="24" style="margin: 2px;" alt="" width="24"
                                                                    src="/hudson/static/2e8191e3/static/images/24x24/notepad.gif"></a>&nbsp;<a
                            href="/hudson/builds">构建历史</a></div>
                    <div class="task"><a href="/hudson/projectRelationship"><img height="24" style="margin: 2px;" alt=""
                                                                                 width="24"
                                                                                 src="/hudson/static/2e8191e3/static/images/24x24/search.gif"></a>&nbsp;<a
                            href="/hudson/projectRelationship">Project Relationship</a></div>
                    <div class="task"><a href="/hudson/fingerprintCheck"><img height="24" style="margin: 2px;" alt=""
                                                                              width="24"
                                                                              src="/hudson/static/2e8191e3/static/images/24x24/fingerprint.gif"></a>&nbsp;<a
                            href="/hudson/fingerprintCheck">Check File Fingerprint</a></div>
                    <div class="task"><a href="/hudson/me/my-views"><img height="24" style="margin: 2px;" alt=""
                                                                         width="24"
                                                                         src="/hudson/static/2e8191e3/static/images/24x24/user.gif"></a>&nbsp;<a
                            href="/hudson/me/my-views">My Views</a></div>
                </div>
                <script defer="defer">refreshPart('buildQueue', "./ajaxBuildQueue");</script>
                <script defer="defer">refreshPart('executors', "./ajaxExecutors");</script>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div id="content">

    <div id="sidebar">

        <div class="tabs">
            <div class="in" style="height: 100%; ">

                <ul>
                    <li><a href="#springUrl("/projects/$project.name/settings/info")" class="info-tab "
                           id="tab-info"
                            >图层</a></li>
                    <li>
                        <button
                                class="warning-tab"
                                id="swmm_dialog_btn"
                                >swmm
                        </button>
                    </li>
                    <li><a href="#springUrl("/projects/$project.name/settings/members")" class="warning-tab"
                           id="tab-ecom">ECOM</a>
                    </li>
                    <li><a href="#springUrl("/projects/$project.name/settings/members")" class="warning-tab"
                           id="tab-rca">RCA</a>
                    </li>
                </ul>

            </div>

            <!--in-->

        </div>

    </div>
    <div id="main_content">
        <div id="map_canvas"></div>
    </div>


</div>
